
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>查询前登录</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">导航栏</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="glyphicon glyphicon-user icon" href="@Url.Action("dangan")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]"> 职员档案</a></li>
                        <li class="active"><a class="glyphicon glyphicon-time icon" href="@Url.Action("kaoqin")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]"> 考勤信息</a></li>
                        <li class="active"><a class="glyphicon glyphicon-yen icon" href="@Url.Action("login")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]"> 工资信息</a></li>
                        <li class="active"><a class="glyphicon glyphicon-log-out icon" href="@Url.Action("qingjia")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]"> 自助请假</a></li>
                        <li class="active"><a class="glyphicon glyphicon-lock icon" href="@Url.Action("change_pwd")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]"> 修改密码</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr />
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">查询前请先输入密码</h4>
            </div>
            <form id="form1" action="@Url.Action("login")@HttpUtility.UrlDecode("?id=")@Request.QueryString["id"]" method="post">
                <div class="panel-body">
                    <input type="password" class="form-control" name="password" maxlength="12" />
                    <br />
                    @if (@Model == 0)
                    {
                        <div id="myAlert" class="alert alert-warning show">
                            <a href="#" class="close" data-dismiss="alert"></a>
                            <strong>密码错误，请确认后再尝试。</strong>
                        </div>
                    }
                    <button type="submit" class="btn btn-info col-md-3 col-xs-3">登 录</button>
                    <div class="col-md-6 col-xs-6"></div>
                    <button type="reset" class="btn btn-info col-md-3 col-xs-3">重 置</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
