@model wx_site.Models.HEX001TB
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>请假审核结果</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <hr />
        <div class= "panel panel-success">
            <div class="panel-heading">
                @if (Model.ck_flg == "Y")
                { <h4 class="panel-title">非常高兴的通知您，请假申请审核通过了</h4>}
                else { <h4 class="panel-title">非常遗憾的通知您，请假申请被拒绝了</h4>}
            </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="col-md-2 col-xs-3 text-right">职员工号</td>
                                <td class="text-left">@Model.emp_no</td>
                            </tr>
                            <tr>
                                <td class="text-right">职员姓名</td>
                                <td class="text-left">@Model.emp_nm</td>
                            </tr>
                            <tr>
                                <td class="text-right">所在部门</td>
                                <td class="text-left">@Model.dept_nm</td>
                            </tr>
                            <tr>
                                <td class="text-right">请假日期</td>
                                <td class="text-left">@Model.ex_date</td>
                            </tr>
                            <tr>
                                <td class="text-right">请假类别</td>
                                <td class="text-left">@Model.dilig_nm</td>
                            </tr>
                            <tr>
                                <td class="text-right">开始时间</td>
                                <td class="text-left">@Model.ex_btime</td>
                            </tr>
                            <tr>
                                <td class="text-right">结束时间</td>
                                <td class="text-left">@Model.ex_etime</td>
                            </tr>
                            <tr>
                                <td class="text-right">合计小时</td>
                                <td class="text-left">@Model.ex_hh</td>
                            </tr>
                            <tr>
                                <td class="text-right ">请假原因</td>
                                <td class="text-left">@Model.ex_remark</td>
                            </tr>
                            <tr>
                                <td class="text-right">审核状态</td>
                                <td class="text-left">@Model.ck_flg_nm</td>
                            </tr>
                            <tr>
                                @if (Model.ck_flg == "R")
                                {
                                    <td class="text-right ">拒绝原因</td>
                                }
                                else
                                {
                                    <td class="text-right ">同意留言</td>
                                }
                                <td class="text-left">@Model.ck_remark</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</body>

</html>
